<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chatbotStyle.css">
    <title>Chat Bot - Localizando</title>
</head>
<body>
    <div class="box-question">
        <div class="header">
            <p>ChatBot - Localizando</p>
        </div>
        <p id="status"></p>
        <div id="historic">
            <!--Aqui ira o chat-->
        </div>

    <div class="footer">
        <input type="text" placeholder="Pergunte aqui..." id="message-input">
        <button id="btn-submit" onclick="sendMessage()">Enviar</button>
    </div>

</body>
<script src="chat_Bot.js"></script>
</html>